.hero__wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.hero__description {
  display: flex;
  flex-direction: column;
  max-width: 486px;
  max-height: 411px;
  padding: 50px;
  background-color: #2C2C2C;
  position: absolute;
  top: -10px;
  z-index: 1;
  top: 60px;
  left: 522px;
  border-radius: var(--border-radius);
}

.hero__name {
  color: var(--main);
  font-weight: 900;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-right: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.hero__social-list-wrappe {
  max-width: 120px;
}

.hero__social-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.hero__social_wrapper {
  display: flex;
  flex-direction: row;
}

.hero__social-item {
  margin-right: 10px;
}

.hero__social-item img {
  width: 30px;
  height: 30px;
}

.hero_dynamic-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.25rem;
  letter-spacing: .025em;
}

.hero_dynamic-info span {
  font-weight: 900;
}

.hero_dynamic-info code {
  color: #32A10F;
}

.hero__social-personal {
  color: rgb(200 200 200);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.text-white {
  color: var(--main);
  font-weight: 900;
}

.hero__workplace img {
  border-radius: 20px;
}

.bn632-hover {
  display: flex;
  align-items: center;
  width: 120px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn22 {
  background-image: linear-gradient(
    to right,
    #68DF99,
    #65B56D,
    #02F243,
    #52830A
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}