.skills__wrapper{
  margin-top: 3cap;
  width: 100%;
}

.skills__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
} 

.skills-item {
  position: relative;
}
