.skills__wrapper{
  margin-top: 3cap;
  width: 100%;
}

.skills__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
} 

.skills-item {
  position: relative;
}
.skills-item>img{
  height: 5rem !important;
}

@media (max-width: 1000px) {
  .skills-item>img{
    height: 4rem !important;
  }
}
@media (max-width: 480px) {
  .skills-item>img{
    height: 3rem !important;
  }
}