.header {
  margin-top: 32px;
}
.header__container{
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.header__wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius); 
}

.header__hero {
  text-decoration: none;
}

.header__hero>span {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--main);
}

.header__surname {
  margin-right: 0.25rem;
}

.first__name {
  font-weight: 700;
}